<header class="row header">
  <div class="col-12 header__button_group">
    <%= link_to 'Create new group', new_group_path, class: "btn btn-outline-success" %>
  </div>
</header>
<main class="row">
  <div class="col-12">
    <table class="table text-center table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr class="table__row" data-link="<%= group_path(group) %>">
            <td>
              <p><%= group.name %></p>
            </td>
            <td>
              <%= link_to 'Edit', edit_group_path(group), class: "btn btn-outline-secondary" %>
              <%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>