<main class="row">
  <div class="col-12">
    <table class="table text-center table-hover">
      <thead>
        <tr>
          <th scope="col">Avatar</th>
          <th scope="col">First Name:</th>
          <th scope="col">Last Name:</th>
          <th scope="col" class="mobile-hidden">Email:</th>
          <th scope="col">Phone Number:</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <% contacts.each do |contact| %>
          <tr class="table__row" data-link="<%= contact_path(contact) %>">
            <td class="table__avatar-container">
              <% if contact.avatar.present? == true %>
                <%= image_tag contact.avatar, alt: "contact's portrait", class: "img-fluid" %>
              <% else %>
                <%= image_tag '/assets/avatar-placeholder.png', class: "img-fluid" %>
              <% end %>
            </td>
            <td>
              <p><%= contact.first_name%></p>
            </td>
            <td>
              <p><%= contact.last_name%></p>
            </td>
            <td class="mobile-hidden">
              <p><%= contact.email%></p>
            </td>
            <td>
              <p><%= contact.phone_number%></p>
            </td>
            <td>
              <%= link_to 'Edit', edit_contact_path(contact), class: "table__button btn btn-outline-secondary" %>
              <%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: "table__button btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>